/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #eff6e0
AQUA: #124559
LIGHT BLUE: #598392
DARK BLUE: #01161e

*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Nerko One', cursive;
}

.hero {
    background-image: url('images/background1.jpg');
    background-size: cover;
    background-position: bottom right;
    height: 60vh;
    padding: 5px 50px;
}

.hero h1 {
    font-size: 90px;
    margin-bottom: 0;
    color: #eff6e0;
    text-shadow: 2px 2px 2px #01161e;
}

#hero-title {
    color: #124559;
}

#hero-title:hover {
    color: #598392;
}

#hero-text h2 {
    font-size: 40px;
    background: #eff6e0;
    border-radius: 10px;
    width: 85%;
    margin: 5px auto;
    padding: 5px 10px;
}

.desc {
    font-family: 'Open Sans', sans-serif;
    background: #eff6e0;
    padding: 20px 75px;
    font-size: 18px;
    line-height: 26px;
}

.activity {
    padding: 5px 10px 40px 10px;
}

.activity h3 {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 10px;
}

.activity h6 {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
    margin-bottom: 25px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 28%;
    background: #eff6e0;
    border: 5px solid #eff6e0;
    border-radius: 5px;
    color: #01161e;
    box-shadow: 0 0 1px black;
    display: flex;
    flex-direction: column;
}

.card:hover {
    border: 5px solid #01161e;
}
